{% load static %}  
  <!-- Вкладки категорий -->
                    <div class="card-gradient rounded-2xl  mb-4">
                        <div class="tabs-container" id="tabsContainer">
                            <div class="tabs-wrapper" id="tabsWrapper">
                                <!-- Вкладка "Все" -->
                                <div class="tab active" data-category="all">
                                    <span>Все</span>
                                </div>
                                <!-- Вкладки категорий -->
                                {% for category in categories %}
                                <div class="tab" data-category="{{ category.id }}">
                                    <span>{{ category.name }}</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
