{% load static %}
<div class="mobile-nav">
    <div class="mobile-nav-item active" data-tab="home">
        <i class="fas fa-home"></i>
      
    </div>
    
    <div class="mobile-nav-item" data-tab="categories">
       <i class="fa-solid fa-icons"></i>
      
    </div>
    
    <div class="mobile-nav-center">
        <!-- Подсказка для нового пользователя -->
        
        <div class="mobile-nav-item-center" id="openTransactionModalBtn">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    
    <div class="mobile-nav-item" data-tab="stats">
        <i class="fa-solid fa-ranking-star"></i>
       
    </div>
    
    <div class="mobile-nav-item" data-tab="panel">
       <i class="fa-solid fa-gear"></i>
        
</div>

    
  
    </div>